<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../css/signin.css" th:href="@{/css/signin.css}" />
</head>
<body>
<div class="container">
    <form class="form-signin" th:action="@{/login}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Email address" id="j_username" name="username" />
        <input type="password" class="form-control" placeholder="Password" id="j_password" name="password"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>
