<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <!--   <link href="css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>

    <!-- Custom CSS -->
    <!-- <link href="css/sb-admin.css" rel="stylesheet">-->
    <link rel="stylesheet" href="../css/sb-admin.css" th:href="@{/css/sb-admin.css}"/>

    <!-- Morris Charts CSS -->
    <!-- <link href="css/plugins/morris.css" rel="stylesheet">-->
    <link href=".../css/plugins/morris.css" rel="stylesheet" th:href="@{/css/plugins/morris.css}"/>

    <!-- Custom Fonts -->
    <!--  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="../fonts/font-awesome.min.css" th:href="@{/fonts/font-awesome.min.css}"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div class="collapse navbar-collapse navbare-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="userTemplate.html"><i class="fa fa-fw fa-file"></i> History</a>
        </li>


    </ul>
</div>
<div id="wrapper">
    <div th:include="footer :: copy"></div>
    <div id="page-wrapper">

        <div class="jumbotron">


            <div class="table-responsive">
                <div class="shadow">
                    <table class="table table-bordered table-hover table-striped" id="lunchTable">
                        <!-- <thead>
                        <tr>
                             <th>Restaurant Name</th>
                             <th>Lunch Name</th>
                             <th>Vote</th>

                             <th></th>
                             <th></th>
                         </tr>
                         </thead>-->

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.js}"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="webjars/noty/2.3.8/js/noty/packaged/jquery.noty.packaged.min.js"></script>


<script src="/js/bootstrap.min.js"></script>

<script th:src="@{/js/lunchList.js}"/>
</body>
</html>